<header class ="navbar navbar-fixed-top navbar-inverse">
<div class="container">
 <li><%= link_to "Sample App", root_path, id: "logo" %></li>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Login", users_new_path %></li>
    </ul>
  </nav>
</div>
</header>
